Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*

feedback
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/export/index.tsx
  taxonomy-editor-frontend/src/utils.ts
Labels: frontend

minor refactor: sort imports
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.tsx
Labels: frontend

Update backend/editor/models.py
  backend/editor/models.py
Labels: backend

fixes
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/root-nodes/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

updated syntax
  backend/editor/api.py
Labels: backend, api

API projects response
  backend/editor/entries.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: backend, frontend

pythonic
  backend/editor/entries.py
Labels: backend

minor refactor
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: frontend

blank spaces
  backend/editor/entries.py
Labels: backend

code format
  backend/editor/entries.py
Labels: backend

refactor: API projects response (#216)
  backend/editor/entries.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: backend, frontend

added scrollbar in the table for small screen sizes
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: frontend

feat: setup fastapi tests
  backend/editor/test_api.py
  backend/requirements.txt
Labels: backend, dependencies

refactor tests
  Makefile
  backend/Dockerfile
  backend/editor/test_api.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_api.py
Labels: docker, backend

test: link integration tests dynamically
  backend/Dockerfile
  docker/dev.yml
Labels: docker, backend

refactor: lint
  backend/tests/conftest.py
Labels: backend

feat: setup fastapi tests (#223)
  Makefile
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  docker/dev.yml
Labels: docker, backend, dependencies

fix: #203 added scrollbar in the table for small screen sizes (#221)
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: frontend

feat: new UX for submitting changes
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend

fix comment
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend

feedback: type casting note
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.tsx
Labels: frontend

refactor: Typescript migration, edit entry component (#215)
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
  taxonomy-editor-frontend/src/utils.ts
Labels: frontend

search wrapper
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/components/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
  taxonomy-editor-frontend/src/pages/search/index.tsx
Labels: frontend

feedback: renamed variables
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
Labels: frontend

feedback: renamed variables
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
Labels: frontend

search wrapper
  taxonomy-editor-frontend/src/pages/search/index.tsx
Labels: frontend

fix: imports
  taxonomy-editor-frontend/src/components/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
Labels: frontend

refactor: typescript search (#220)
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/components/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
  taxonomy-editor-frontend/src/pages/search/index.tsx
Labels: frontend

parents
  backend/editor/entries.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
Labels: backend, frontend

fixed the not a valid json error, added descriptions to parameters
  backend/editor/api.py
  backend/editor/models.py
Labels: backend, api

removed unwanted print statement
  backend/editor/api.py
Labels: backend, api

refactor: Removed tags_str property
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser.py
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: backend, frontend, parser

fix: Make lint
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

Update backend/editor/models.py
  backend/editor/models.py
Labels: backend

update based on make checks
  backend/editor/models.py
Labels: backend

feat: show feedback when special characters are entered.
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

updated to fix style
  backend/editor/models.py
Labels: backend

- add meaningful name - fix bug
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

add disable check if error exists
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

feat: Add load animation
  taxonomy-editor-frontend/src/components/Loader.tsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend
