Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

build: handle neo4j memory configration > + upgrade neo4j and some libs > + enable reload in dev mode > + avoid test failing because of neo4j running
  .env
  .github/workflows/container-deploy.yml
  Makefile
  backend/requirements.txt
  docker-compose.yml
  docker/dev.yml
  parser/requirements-test.txt
  parser/requirements.txt
Labels: github, docker, backend, dependencies, parser

refactor and adding original languages back fix
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

fix: fix bugs in parser * tracing errors did raise an exception if there were parameters (added a test) * better handling of is_before (avoid class attribute)
  parser/openfoodfacts_taxonomy_parser/parser.py
  parser/tests/integration/test_parse_unparse_integration.py
  parser/tests/integration/test_parser_integration.py
Labels: parser, tests

fix: use async neo4j in entries.py
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/graph_db.py
Labels: backend, api

fix: fixes after review
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/graph_db.py
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: backend, api, parser

remove logs and change icon
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

feat: select shown languages in UI (#180)
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

feat: store languages marked as visible by user in localstorage
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

move language exists filter to handleAddTranslations
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

feat: show error count in table
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
Labels: frontend

add errors page to navbar
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
Labels: frontend

add error page
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/pages/errors/index.jsx
Labels: frontend

feat: hide synonyms and stopwords in the root nodes page
  backend/editor/entries.py
Labels: backend

build: avoid loosing build/.empty when we run make frontend_quality
  Makefile
Labels: none

build: avoid loosing build/.empty (#189)
  Makefile
Labels: none

fix: use async neo4j + neo4j updgrade (#182)
  .env
  .github/workflows/container-deploy.yml
  Makefile
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/graph_db.py
  backend/requirements.txt
  docker-compose.yml
  docker/dev.yml
  parser/openfoodfacts_taxonomy_parser/parser.py
  parser/requirements-test.txt
  parser/requirements.txt
  parser/tests/integration/test_parse_unparse_integration.py
  parser/tests/integration/test_parser_integration.py
Labels: github, docker, backend, dependencies, api, parser, tests

default lang only en
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

better localstorage validation
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

use main language
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

added typescript
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/pages/allentries/TsTestComponent.tsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/tsconfig.json
  taxonomy-editor-frontend/webpack.config.js
Labels: frontend, dependencies

build: live reload now working for reactjs
  .env
  docker/dev.yml
Labels: docker

added typescript
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/pages/allentries/TsTestComponent.tsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/tsconfig.json
  taxonomy-editor-frontend/webpack.config.js
Labels: frontend, dependencies

build: add docker for webpack config
  docker/dev.yml
  taxonomy-editor-frontend/Dockerfile
Labels: docker, frontend

removed test component
  taxonomy-editor-frontend/src/pages/allentries/TsTestComponent.tsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
Labels: frontend

feat: added typescript (#191)
  docker/dev.yml
  taxonomy-editor-frontend/Dockerfile
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/tsconfig.json
  taxonomy-editor-frontend/webpack.config.js
Labels: docker, frontend, dependencies

ts config: added null
  taxonomy-editor-frontend/tsconfig.json
Labels: frontend

start project into typescript
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

start project index: minor fixes
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

converted util functions to typescript and relocated the file
  taxonomy-editor-frontend/src/components/interConvertNames.jsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
  taxonomy-editor-frontend/src/utils.ts
Labels: frontend

feat: store languages marked as visible by user in localstorage (#185)
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

build: live reload now working for reactjs (#192)
  .env
  docker/dev.yml
Labels: docker

show only entries, no other nodes
  backend/editor/entries.py
Labels: backend

change endpoint url
  backend/editor/api.py
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
Labels: backend, frontend, api

feat: hide synonyms and stopwords in the root nodes page (#187)
  backend/editor/api.py
  backend/editor/entries.py
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
Labels: backend, frontend, api

link to errors page
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
Labels: frontend

feat: add taxonomy file upload endpoint
  backend/editor/api.py
  backend/editor/entries.py
  backend/requirements.txt
Labels: backend, dependencies, api

format
  backend/editor/api.py
Labels: backend, api

feedback
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

refactor: Typescript migration (#193)
  taxonomy-editor-frontend/src/components/interConvertNames.jsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
  taxonomy-editor-frontend/src/utils.ts
  taxonomy-editor-frontend/tsconfig.json
Labels: frontend

exception handling and param taxonomy name
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*
