Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

track again .env and update test taxonomy
  .env
  backend/tests/data/test.txt
Labels: backend

clean db before running tests
  Makefile
Labels: none

remove unnecessary change
  Makefile
Labels: none

Stopped tracking .env File
  .env
Labels: none

add dump.py
  backend/sample/dump.py
Labels: backend

chore: update makefile after comments
  Makefile
Labels: none

docs: Updating the dev setup (#267)
  Makefile
  doc/how-to-guides/develop-with-neo4j.md
  doc/introduction/setup-dev.md
  parser/Makefile
Labels: documentation, parser

clean db before each test
  backend/tests/conftest.py
  backend/tests/test_api.py
Labels: backend

add a status code for the missing settings error
  backend/editor/github_functions.py
Labels: backend

Better status codes for error handling in backend and add some error messages if Github settings were not added to help developers
  backend/editor/api.py
  backend/editor/github_functions.py
Labels: backend, api

display in backend logs the detail prop of the exception
  backend/editor/api.py
  backend/editor/github_functions.py
Labels: backend, api

fix some quality issues
  backend/editor/api.py
  backend/editor/github_functions.py
Labels: backend, api

fix some backend issues according to isort and black
  backend/editor/api.py
  backend/editor/github_functions.py
Labels: backend, api

chore: add poetry to python projects
  Makefile
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements-test.txt
  backend/requirements.txt
  parser/poetry.lock
  parser/poetry.toml
  parser/pyproject.toml
  parser/requirements-dev.txt
  parser/requirements-test.txt
  parser/requirements.txt
  parser/setup.py
  taxonomy-editor-frontend/src/constants.js
Labels: backend, frontend, dependencies, parser

docs: update local development documentation
  Makefile
  doc/introduction/setup-dev.md
Labels: documentation

chore: update dockerfile for backend
  backend/Dockerfile
  docker/dev.yml
Labels: docker, backend

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*
