Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

fix: nginx config allows app page reload
  backend/editor/settings.py
  conf/nginx.conf
  docker/dev.yml
Labels: docker, backend, nginx

fix: nginx config allows app page reload (#141)
  backend/editor/settings.py
  conf/nginx.conf
  docker/dev.yml
Labels: docker, backend, nginx

ci: fix API scheme
  .env
  .github/workflows/container-deploy.yml
  conf/nginx.conf
  docker-compose.yml
Labels: github, docker, nginx

fix: enable proxy scheme in API
  docker-compose.yml
Labels: docker

ci: fix API scheme (#142)
  .env
  .github/workflows/container-deploy.yml
  conf/nginx.conf
  docker-compose.yml
Labels: github, docker, nginx

fix: Remove trailing slash from url
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
Labels: frontend

fix: Destructuring id and child/parent URLs
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend

fix: Remove end slashes from URL in frontend (#143)
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
Labels: frontend

ci: fix workflow
  .github/workflows/container-build.yml
  .github/workflows/container-deploy.yml
Labels: github

ci: fix workflow (#150)
  .github/workflows/container-build.yml
  .github/workflows/container-deploy.yml
Labels: github

docs: readme additions
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

feat: Added project related functions
  backend/editor/api.py
  backend/editor/entries.py
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
Labels: backend, frontend, api

fix: Make lint
  backend/editor/entries.py
Labels: backend

build: Remove redundant parser checks
  .github/workflows/pull_request.yml
Labels: github

build: Remove redundant parser checks (#153)
  .github/workflows/pull_request.yml
Labels: github

feat: updated APIs to support fastAPIs
  backend/editor/api.py
  taxonomy-editor-frontend/build/.empty
Labels: backend, frontend, api

Update backend/editor/api.py
  backend/editor/api.py
Labels: backend, api

Update backend/editor/api.py
  backend/editor/api.py
Labels: backend, api

Update backend/editor/api.py
  backend/editor/api.py
Labels: backend, api

Update backend/editor/api.py
  backend/editor/api.py
Labels: backend, api

Update backend/editor/api.py
  backend/editor/api.py
Labels: backend, api

Update backend/editor/api.py
  backend/editor/api.py
Labels: backend, api

fix: updated model names, and divided them into another file
  backend/editor/api.py
  backend/editor/models.py
Labels: backend, api

ci: github projects to documentation
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github

ci: github projects to documentation (#158)
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github

refactor: Project creation methods
  backend/editor/api.py
  backend/editor/entries.py
  taxonomy-editor-frontend/build/.empty
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
Labels: backend, frontend, api

feat: Add route for setting project status
  backend/editor/api.py
Labels: backend, api

fix: Make lint
  backend/editor/api.py
Labels: backend, api

feat: add visibility toggle to languages and hide all translations by default
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

build: explicit error when using cmd.exe to run make
  Makefile
Labels: none

build: explicit error when using cmd.exe to run make (#161)
  Makefile
Labels: none

merge add and show dialogs
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

remove debug logs
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

build: add build folder to avoid ownership problems
  taxonomy-editor-frontend/build/.empty
Labels: frontend

fix: Add error handling for invalid status
  backend/editor/api.py
Labels: backend, api

fix: Make lint
  backend/editor/api.py
Labels: backend, api

docs: readme additions (#151)
  README.md
Labels: documentation

docs: fix README.md
  README.md
Labels: documentation

save visibility preferences on every change
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*
