Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

fix: added requested changes
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
Labels: frontend

fix: Adding nodes with normalized ids
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

fix: Creation of nodes with normalized ID
  backend/editor/entries.py
Labels: backend

docs: Update README.md
  README.md
Labels: documentation

docs: Update setup-dev.md
  doc/introduction/setup-dev.md
Labels: documentation

feat: added autocomplete for language codes (#117)
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
Labels: frontend

docs: Update OFF images in docs folder
  README.md
  doc/assets/.empty
  doc/assets/off-logo-horizontal-dark.svg
  doc/assets/off-logo-horizontal-light.svg
Labels: documentation

docs: Updated README's and other documentation (#125)
  README.md
  backend/README.md
  doc/assets/.empty
  doc/assets/off-logo-horizontal-dark.svg
  doc/assets/off-logo-horizontal-light.svg
  doc/introduction/setup-dev.md
  taxonomy-editor-frontend/README.md
Labels: documentation, backend, frontend

fix: Creation and relationship building using normalized node ID (#128)
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

feat: Change parser to add a neo4j errors node
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: parser

fix: Remove f-string
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: parser

feat: Created new method for logging
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: backend, parser

fix: Run lint on parser files
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: parser

fix: Add logs config to api.py
  backend/editor/api.py
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: backend, api, parser

fix: Run lint on parser files
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: parser

feat: Update parser to add a neo4j parsing errors node (#132)
  backend/editor/api.py
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: backend, api, parser

build: fix typo in nginx conf
  conf/nginx.conf
Labels: nginx

build: taxonomy-backend is taxonomy_api
  docker/dev.yml
Labels: docker

build: fix confs (#133)
  conf/nginx.conf
  docker/dev.yml
Labels: docker, nginx

ci: add release please
  .github/workflows/release-please.yml
Labels: github

ci: add checks on backend and frontend
  .github/workflows/pull_request.yml
  Makefile
  backend/Dockerfile
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/exceptions.py
  backend/editor/github_functions.py
  backend/editor/graph_db.py
  backend/editor/models.py
  backend/editor/settings.py
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements-test.txt
  backend/setup.cfg
  docker/dev.yml
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
Labels: github, docker, backend, frontend, api

ci: deploy to staging - try 1
  .env
  .github/workflows/container-build.yml
  .github/workflows/container-deploy.yml
  Makefile
  docker-compose.yml
  docker/prod.yml
Labels: github, docker

ci: deploy to staging - try 2
  .github/workflows/container-build.yml
Labels: github

ci: run tests on any changes
  .github/workflows/pull_request.yml
Labels: github

ci: add buildkit in Makefile
  Makefile
Labels: none

ci: deploy to staging - try 3
  .github/workflows/container-build.yml
Labels: github

ci: deploy to staging - try 4
  .github/workflows/container-deploy.yml
Labels: github

ci: deploy to staging - try 5
  .github/workflows/container-deploy.yml
Labels: github

ci: deploy to staging - try 6
  .github/workflows/container-deploy.yml
Labels: github

ci: add repo uri and github pat to .env
  .env
  .github/workflows/container-deploy.yml
  backend/editor/entries.py
  backend/editor/github_functions.py
  backend/editor/settings.py
  doc/introduction/setup-dev.md
  docker-compose.yml
Labels: github, documentation, docker, backend

try to avoid crlf in files
  .gitattributes
Labels: none

ci: add release please (#134)
  .github/workflows/release-please.yml
Labels: github

ci: fix nginx prefixes
  conf/nginx.conf
  docker-compose.yml
  docker/dev.yml
Labels: docker, nginx

fix: nginx must serve build directory
  conf/nginx.conf
  docker/dev.yml
  taxonomy-editor-frontend/Dockerfile
Labels: docker, frontend, nginx

fix: Normalize '-' characters + Convert to snake_case
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

fix: Normalize '-' characters + fix: Convert to snake_case (#137)
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

build: remove some erroneous robotoff references
  .github/workflows/container-deploy.yml
  backend/pyproject.toml
  parser/pyproject.toml
Labels: github, backend, parser

ci: fix frontend checks
  .env
  .github/workflows/pull_request.yml
Labels: github

ci: fix frontend checks
  taxonomy-editor-frontend/build/.empty
Labels: frontend

ci: deploy to staging (#135)
  .env
  .gitattributes
  .github/workflows/container-build.yml
  .github/workflows/container-deploy.yml
  .github/workflows/pull_request.yml
  Makefile
  backend/Dockerfile
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/exceptions.py
  backend/editor/github_functions.py
  backend/editor/graph_db.py
  backend/editor/models.py
  backend/editor/settings.py
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements-test.txt
  backend/setup.cfg
  conf/nginx.conf
  doc/introduction/setup-dev.md
  docker-compose.yml
  docker/dev.yml
  docker/prod.yml
  taxonomy-editor-frontend/Dockerfile
  taxonomy-editor-frontend/build/.empty
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
Labels: github, documentation, docker, backend, frontend, api, nginx

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*
