Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

refactor: node parents to typescript (#226)
  backend/editor/entries.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
Labels: backend, frontend

add capital letter check
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

fix: remove extra state
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

fix: use valid name
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

fix: change name
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

refactor: Removed tags_str property (#228)
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser.py
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: backend, frontend, parser

run prettier
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

run prettier
  taxonomy-editor-frontend/src/components/Loader.tsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

feat: Show feedback when special characters are entered in branch name (#229)
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

feat: add load animation instead of text
  taxonomy-editor-frontend/src/components/Loader.tsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

small fix
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
Labels: frontend

fix: modify loader component
  taxonomy-editor-frontend/src/components/Loader.tsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

replace fab with sticky div
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend, dependencies

Added a delete API to delete projects
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

Started with test case
  backend/editor/entries.py
  backend/tests/test_api.py
Labels: backend

Update backend/tests/test_api.py
  backend/tests/test_api.py
Labels: backend

Updated the test case to delete taxonomy
  backend/editor/entries.py
  backend/tests/conftest.py
  backend/tests/test_api.py
Labels: backend

docs: Explain project in README.md
  README.md
Labels: documentation

Apply suggestions from code review
  README.md
Labels: documentation

Better explanations on taxonomies
  README.md
Labels: documentation

fix typos…
  README.md
Labels: documentation

docs: Explain project in README.md (#238)
  README.md
Labels: documentation

Updated the test cases
  backend/editor/api.py
  backend/editor/entries.py
  backend/tests/test_api.py
Labels: backend, api

Fixing the test query
  backend/editor/api.py
  backend/editor/entries.py
  backend/tests/test_api.py
Labels: backend, api

feat: Delete taxonomy project (#237)
  backend/editor/api.py
  backend/editor/entries.py
  backend/tests/conftest.py
  backend/tests/test_api.py
Labels: backend, api

docs: remove weekly meetings
  README.md
Labels: documentation

docs: Update README.md
  README.md
Labels: documentation

docs: remove weekly meetings (#239)
  README.md
Labels: documentation

Improved button positioning
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend

UPDATE/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend

UPDATE/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend

fix: Change comment line
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend

feat: new UX for submitting changes (#224)
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
Labels: frontend, dependencies

fix: use docker compose v2 instead of deprecated docker-compose v1
  Makefile
  doc/how-to-guides/develop-with-neo4j.md
  doc/introduction/setup-dev.md
  parser/Makefile
Labels: documentation, parser

chore: update makefile for quality of life
  Makefile
Labels: none

nit: update setup-dev.md
  doc/introduction/setup-dev.md
Labels: documentation

tests: add tests for importing and uploading taxonomy
  backend/editor/api.py
  backend/requirements-test.txt
  backend/requirements.txt
  backend/tests/data/test.txt
  backend/tests/test_api.py
Labels: backend, dependencies, api

test the tests
  Makefile
  backend/editor/settings.py
  backend/tests/test_api.py
Labels: backend

use is instead of ==
  backend/tests/test_api.py
Labels: backend

remove and revoke ghp
  backend/editor/settings.py
Labels: backend

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*
