Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

review
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
Labels: frontend

merge main and update import utils
  taxonomy-editor-frontend/src/pages/errors/index.jsx
Labels: frontend

review
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
Labels: frontend

docs: fix setup doc link
  CONTRIBUTING.md
Labels: documentation

docs: react live reload
  doc/introduction/setup-dev.md
Labels: documentation

docs: react live reload (#200)
  doc/introduction/setup-dev.md
Labels: documentation

docs: fix setup doc link (#199)
  CONTRIBUTING.md
Labels: documentation

feat: parsing errors page (#186)
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
Labels: frontend

typescript: navbar to typescript. Refactor for nav links setting. Minor clean up (removing unused pieces, etc.)
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/home/index.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

feedback
  taxonomy-editor-frontend/src/App.tsx
Labels: frontend

updating branch
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
Labels: frontend

refactor: navbar to typescript. (#197)
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/home/index.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

typescript: useFetch hook
  taxonomy-editor-frontend/src/components/useFetch.ts
  taxonomy-editor-frontend/src/pages/home/index.tsx
Labels: frontend

error codes fix
  backend/editor/api.py
Labels: backend, api

feat: add taxonomy file upload endpoint (#196)
  backend/editor/api.py
  backend/editor/entries.py
  backend/requirements.txt
Labels: backend, dependencies, api

docs: Add invite link for Open Food Facts
  README.md
Labels: documentation

refactor: typescript, useFetch hook (#201)
  taxonomy-editor-frontend/src/components/useFetch.ts
  taxonomy-editor-frontend/src/pages/home/index.tsx
Labels: frontend

typescript: migrated go to project page
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: frontend

docs: Add invite link for Open Food Facts (#204)
  README.md
Labels: documentation

feedback: renaming prop
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/home/index.tsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

added MSYS_NO_PATHCONV to supress path translation in Windows
  Makefile
Labels: none

typescript: export page
  taxonomy-editor-frontend/src/pages/export/index.tsx
Labels: frontend

added props
  taxonomy-editor-frontend/src/pages/export/index.tsx
Labels: frontend

fix: prop types
  taxonomy-editor-frontend/src/pages/export/index.tsx
Labels: frontend

refactor: typescript, migrated gotoproject page (#208)
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/home/index.tsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

fix: Makefile unable to detect parser directory in Windows 11 (#178)
  Makefile
Labels: none

refactor: typescript in export page (#210)
  taxonomy-editor-frontend/src/pages/export/index.tsx
Labels: frontend

typescript: root nodes page
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/AddNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.jsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

renamed label
  taxonomy-editor-frontend/src/pages/root-nodes/CreateNodeDialogContent.tsx
Labels: frontend

renamed component
  taxonomy-editor-frontend/src/pages/root-nodes/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

removed unused files
  taxonomy-editor-frontend/src/pages/root-nodes/hh.json
  taxonomy-editor-frontend/src/pages/root-nodes/hola.ts
Labels: frontend

root nodes to typescript
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/hh.json
  taxonomy-editor-frontend/src/pages/root-nodes/hola.ts
  taxonomy-editor-frontend/src/pages/root-nodes/index.jsx
Labels: frontend

added backend type
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

updated code for open api
  backend/editor/api.py
  backend/editor/models.py
Labels: backend, api

fix: Add snake case to taxonomy name for link
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

refactor: Typescript migration, root nodes (/entry page) (#212)
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/root-nodes/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

sorted the langauges
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.jsx
Labels: frontend

fix: Broken link while starting new project (#217)
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

fix: #184 sorted the language selection menu alphabetically (#218)
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.jsx
Labels: frontend

refactor: typescript, 2) moved utils to the utils file
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
  taxonomy-editor-frontend/src/utils.ts
Labels: frontend

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*
