Repository openfoodfacts/taxonomy-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, docker, backend, frontend, dependencies, api, nginx, neo4j, parser, tests

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths
# for reference, see https://github.com/actions/labeler

github:
- .github/**/*

documentation:
- CONTRIBUTING.md
- LICENSE
- README.md
- backend/README.md
- doc/how-to-guides/develop-with-neo4j.md
- doc/how-to-guides/docker-compose-setup.md
- doc/introduction/setup-dev.md
- doc/references/taxonomy-parser.md
- doc/assets/.empty
- doc/**/*

docker:
- backend/Dockerfile
- taxonomy-editor-frontend/Dockerfile
- docker-compose.yml
- docker/dev.yml

backend:
- backend/editor/__init__.py
- backend/editor/api.py
- backend/editor/entries.py
- backend/editor/exceptions.py
- backend/editor/graph_db.py
- backend/editor/models.py
- backend/editor/normalizer.py
- backend/editor/settings.py
- backend/requirements.txt
- backend/sample/load.py
- backend/sample/schema.json
- backend/sample/test-neo4j.json
- backend/sample/test.json
- backend/sample/test.txt
- backend/**/*

frontend:
- taxonomy-editor-frontend/**/*

dependencies:
- backend/requirements.txt
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- taxonomy-editor-frontend/package.json

api:
- backend/editor/api.py

nginx:
- conf/nginx.conf

neo4j:
- neo4j/**/*
  
parser:
- parser/Makefile
- parser/openfoodfacts_taxonomy_parser/__init__.py
- parser/openfoodfacts_taxonomy_parser/exception.py
- parser/openfoodfacts_taxonomy_parser/parser.py
- parser/openfoodfacts_taxonomy_parser/unparser.py
- parser/pyproject.toml
- parser/requirements-dev.txt
- parser/requirements-test.txt
- parser/requirements.txt
- parser/setup.cfg
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/**/*

tests:
- parser/tests/__init__.py
- parser/tests/conftest.py
- parser/tests/data/test.txt
- parser/tests/integration/__init__.py
- parser/tests/**/*

add parsing_errors endpoint and add error count to project list endpoint
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

formatting for checks
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

feat: Add enum for status filter
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

fix: Run flake8
  backend/editor/entries.py
Labels: backend

Update README.md
  README.md
Labels: documentation

error_count in every project dict
  backend/editor/entries.py
Labels: backend

feat: Add custom exceptions for bad status
  backend/editor/api.py
Labels: backend, api

feat: Added functions for reopening projects and fetching closed projects (#152)
  backend/editor/api.py
  backend/editor/entries.py
  taxonomy-editor-frontend/build/.empty
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
Labels: backend, frontend, api

docs: Update README.md (#164)
  README.md
Labels: documentation

fix: fix list all projects
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

feat: parsing error endpoint (#163)
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

feat: better UX for saving changes to a taxonomy
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

no eye, change color of present translations to green
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

hidden languages count fix
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

show shownTranslationLanguages with renderedTranslations
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

refactor and review
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

fix: clubbing all the common variable names in a class
  backend/editor/models.py
Labels: backend

fix: styling
  backend/editor/models.py
Labels: backend

feat: hide all languages by default in the UI
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

feat: hide/show languages
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

feat: hide all languages by default in the UI (#175)
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

test
  taxonomy-editor-frontend/src/constants.js
Labels: frontend

husky executable
  taxonomy-editor-frontend/.husky/pre-commit
Labels: frontend

husky
  taxonomy-editor-frontend/.husky/pre-commit
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
Labels: frontend, dependencies

prettier formatter
  taxonomy-editor-frontend/README.md
  taxonomy-editor-frontend/public/index.html
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.jsx
  taxonomy-editor-frontend/src/components/interConvertNames.jsx
  taxonomy-editor-frontend/src/components/useFetch.jsx
  taxonomy-editor-frontend/src/index.js
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/home/index.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.jsx
Labels: frontend

minor fix: renamed variable
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

feat: add a button for non translated languages
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

build: add checks in Makefile
  Makefile
Labels: none

fix: added Entry class
  backend/editor/models.py
Labels: backend

fix: Styling
  backend/editor/models.py
Labels: backend

fix: fixed Makefile unable to detect parser directory in Windows 11
  Makefile
Labels: none

docs: reference to prettier+husky
  doc/introduction/setup-dev.md
  taxonomy-editor-frontend/README.md
Labels: documentation, frontend

doc: fix
  taxonomy-editor-frontend/README.md
Labels: frontend

feat: CI formatter (#172)
  Makefile
  doc/introduction/setup-dev.md
  taxonomy-editor-frontend/.husky/pre-commit
  taxonomy-editor-frontend/README.md
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/public/index.html
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.jsx
  taxonomy-editor-frontend/src/components/interConvertNames.jsx
  taxonomy-editor-frontend/src/components/useFetch.jsx
  taxonomy-editor-frontend/src/constants.js
  taxonomy-editor-frontend/src/index.js
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/home/index.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.jsx
Labels: documentation, frontend, dependencies

feat: add a button to add translations for langs with no translations
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

feat: add a button to add translations for langs with no translations (#179)
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

fix: added inheritance of common parameters
  backend/editor/models.py
Labels: backend

update: adding query parameters to FastAPI documentation
  backend/editor/models.py
Labels: backend

feat: select shown languages in UI
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

move translation selection dialog to a new component
  taxonomy-editor-frontend/src/components/LanguageSelectionDialog.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend
