Repository openfoodfacts/taxonomy-editor, pull requests merged in 2022-12, with the labels that each got.

#134 ci: add release please
  .github/workflows/release-please.yml
Labels: github

#137 fix: Normalize '-' characters + fix: Convert to snake_case
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

#141 fix: nginx config allows app page reload
  backend/editor/settings.py
  conf/nginx.conf
  docker/dev.yml
Labels: backend, docker, nginx

#142 ci: fix API scheme
  .env
  .github/workflows/container-deploy.yml
  conf/nginx.conf
  docker-compose.yml
Labels: github, docker, nginx

#143 fix: Remove end slashes from URL in frontend
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
Labels: frontend

#150 ci: fix workflow
  .github/workflows/container-build.yml
  .github/workflows/container-deploy.yml
Labels: github

#153 build: Remove redundant parser checks
  .github/workflows/pull_request.yml
Labels: github

#158 ci: github projects to documentation
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github
