Repository openfoodfacts/taxonomy-editor, pull requests merged in 2022-11, with the labels that each got.

#110 fix: Change routes for including branch and taxonomy names
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.jsx
  taxonomy-editor-frontend/src/constants.js
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/interConvertNames.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/home/index.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.jsx
Labels: dependencies, frontend

#116 feat: Add routes for import/export taxonomy
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/exceptions.py
  backend/editor/github_functions.py
  backend/editor/graph_db.py
  backend/editor/settings.py
  backend/requirements.txt
  parser/openfoodfacts_taxonomy_parser/parser.py
  parser/openfoodfacts_taxonomy_parser/unparser.py
  parser/setup.py
  parser/tests/conftest.py
  parser/tests/integration/test_parse_unparse_integration.py
  parser/tests/integration/test_parser_integration.py
  parser/tests/unit/test_parser_unit.py
Labels: backend

#120 feat: Add export functionality in frontend
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/components/interConvertNames.jsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.jsx
Labels: frontend

#122 build: Add frontend label to Labeler workflow
  .github/labeler.yml
Labels: github

#117 feat: added autocomplete for language codes
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
Labels: frontend

#125 docs: Updated README's and other documentation
  README.md
  backend/README.md
  doc/assets/.empty
  doc/assets/off-logo-horizontal-dark.svg
  doc/assets/off-logo-horizontal-light.svg
  doc/introduction/setup-dev.md
  taxonomy-editor-frontend/README.md
Labels: documentation, frontend, backend

#128 fix: Creation and relationship building using normalized node ID
  backend/editor/api.py
  backend/editor/entries.py
Labels: backend, api

#132 feat: Update parser to add a neo4j parsing errors node
  backend/editor/api.py
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser.py
Labels: parser, backend, api

#133 build: fix confs
  conf/nginx.conf
  docker/dev.yml
Labels: docker, nginx
