Repository openfoodfacts/taxonomy-editor, pull requests merged in 2023-01, with the labels that each got.

#164 docs: Update README.md
  README.md
Labels: documentation

#175 feat: hide all languages by default in the UI
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

#172 feat: CI formatter
  Makefile
  doc/introduction/setup-dev.md
  taxonomy-editor-frontend/.husky/pre-commit
  taxonomy-editor-frontend/README.md
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/public/index.html
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.jsx
  taxonomy-editor-frontend/src/components/interConvertNames.jsx
  taxonomy-editor-frontend/src/components/useFetch.jsx
  taxonomy-editor-frontend/src/constants.js
  taxonomy-editor-frontend/src/index.js
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/home/index.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.jsx
Labels: frontend

#180 feat: select shown languages in UI
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

#191 feat: added typescript
  docker/dev.yml
  taxonomy-editor-frontend/Dockerfile
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/tsconfig.json
  taxonomy-editor-frontend/webpack.config.js
Labels: dependencies, frontend, docker

#185 feat: store languages marked as visible by user in localstorage
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: frontend

#192 build: live reload now working for reactjs
  .env
  docker/dev.yml
Labels: docker

#187 feat: hide synonyms and stopwords in the root nodes page
  backend/editor/api.py
  backend/editor/entries.py
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
Labels: frontend, backend, api

#200 docs: react live reload
  doc/introduction/setup-dev.md
Labels: documentation

#199 docs: fix setup doc link
  CONTRIBUTING.md
Labels: documentation

#186 feat: parsing errors page
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
Labels: frontend

#197 refactor: navbar to typescript.
  taxonomy-editor-frontend/src/App.js
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.jsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.jsx
  taxonomy-editor-frontend/src/pages/gotoproject/index.jsx
  taxonomy-editor-frontend/src/pages/home/index.jsx
  taxonomy-editor-frontend/src/pages/search/index.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

#196 feat: add taxonomy file upload endpoint
  backend/editor/api.py
  backend/editor/entries.py
  backend/requirements.txt
Labels: dependencies, backend, api

#201 refactor: typescript, useFetch hook
  taxonomy-editor-frontend/src/components/useFetch.ts
  taxonomy-editor-frontend/src/pages/home/index.tsx
Labels: frontend

#204 docs: Add invite link for Open Food Facts
  README.md
Labels: documentation

#208 refactor: typescript, migrated gotoproject page
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/home/index.tsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

#210 refactor: typescript in export page
  taxonomy-editor-frontend/src/pages/export/index.tsx
Labels: frontend
