Repository openfoodfacts/taxonomy-editor, pull requests merged in 2023-11, with the labels that each got.

#267 docs: Updating the dev setup
  Makefile
  doc/how-to-guides/develop-with-neo4j.md
  doc/introduction/setup-dev.md
  parser/Makefile
Labels: documentation, parser

#284 fix(taxonomy-editor-frontend): redirect user to node editor when clicking from nodes page
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

#277 refactor(backend): better error handling in backend
  backend/editor/api.py
  backend/editor/github_functions.py
Labels: backend, api

#278 chore: Add Poetry for Python dependency management
  .github/labeler.yml
  Makefile
  backend/Dockerfile
  backend/editor/entries.py
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements-test.txt
  backend/requirements.txt
  doc/introduction/setup-dev.md
  docker/dev.yml
  parser/poetry.lock
  parser/poetry.toml
  parser/pyproject.toml
  parser/requirements-dev.txt
  parser/requirements-test.txt
  parser/requirements.txt
  parser/setup.py
  taxonomy-editor-frontend/src/constants.js
Labels: 📚 documentation, GitHub, dependencies, parser, frontend, backend, 🐳 Docker, documentation, docker

#290 refactor(taxonomy-editor-frontend): Create a component for nodes table
  taxonomy-editor-frontend/src/components/NodesTableBody.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
Labels: frontend

#283 feat(taxonomy-editor-frontend): loading animation
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
  taxonomy-editor-frontend/src/pages/search/index.tsx
Labels: frontend

#288 chore: Update monorepo setup
  .github/workflows/auto-assign-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/container-build.yml
  .github/workflows/container-deploy.yml
  .github/workflows/dependency-review.yml
  .github/workflows/label.yml
  .gitignore
  .prettierrc.json
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  backend/.vscode/settings.json
  backend/README.md
  backend/poetry.toml
  backend/pyproject.toml
  backend/sample/dump.py
  backend/sample/load.py
  backend/sample/schema.json
  backend/sample/test-neo4j.json
  backend/sample/test.json
  backend/tests/test_api.py
  doc/how-to-guides/docker-compose-setup.md
  doc/references/taxonomy-parser.md
  docker/dev.yml
  package-lock.json
  package.json
  parser/.vscode/settings.json
  parser/poetry.toml
  parser/pyproject.toml
  taxonomy-editor-frontend/.husky/pre-commit
  taxonomy-editor-frontend/.husky/pre-push
  taxonomy-editor-frontend/.prettierignore
  taxonomy-editor-frontend/.prettierrc.json
  taxonomy-editor-frontend/README.md
  taxonomy-editor-frontend/package.json
  taxonomy-editor.code-workspace
Labels: GitHub, dependencies, parser, frontend, backend, documentation, docker
