Repository openfoodfacts/taxonomy-editor, pull requests merged in 2023-02, with the labels that each got.

#212 refactor: Typescript migration, root nodes (/entry page)
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/allentries/index.jsx
  taxonomy-editor-frontend/src/pages/root-nodes/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

#217 fix: Broken link while starting new project
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

#216 refactor: API projects response
  backend/editor/entries.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: frontend, backend

#215 refactor: Typescript migration, edit entry component
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/createURL.jsx
  taxonomy-editor-frontend/src/pages/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/errors/index.jsx
  taxonomy-editor-frontend/src/pages/export/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
  taxonomy-editor-frontend/src/utils.ts
Labels: frontend

#220 refactor: typescript search
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/components/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.jsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
  taxonomy-editor-frontend/src/pages/search/index.tsx
Labels: frontend

#228 refactor: Removed tags_str property
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser.py
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
Labels: parser, frontend, backend
