Repository openfoodfacts/taxonomy-editor, pull requests merged in 2024-04, with the labels that each got.

#466 fix(frontend): Replace white spaces in branch name proposition and allow dashes in owner name
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend

#472 feat: add link to the Taxonomy Editor project in PR description
  .env
  .github/workflows/container-deploy.yml
  backend/editor/github_functions.py
  backend/editor/settings.py
  docker-compose.yml
  taxonomy-editor-frontend/src/App.tsx
Labels: GitHub, frontend, backend, docker

#468 fix(frontend): Prevent users from navigating to child with unsaved changes
  taxonomy-editor-frontend/src/pages/project/editentry/AccumulateAllComponents.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListEntryChildren.tsx
Labels: frontend

#463 feat(frontend): enable advanced research
  backend/editor/models/node_models.py
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/components/EntryNodesTableBody.tsx
  taxonomy-editor-frontend/src/components/NodesTableBody.tsx
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListTranslations.tsx
  taxonomy-editor-frontend/src/pages/project/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/project/search/FilterInput.tsx
  taxonomy-editor-frontend/src/pages/project/search/FiltersArea.tsx
  taxonomy-editor-frontend/src/pages/project/search/MultipleSelectFilter.tsx
  taxonomy-editor-frontend/src/pages/project/search/SearchExpressionInput.tsx
  taxonomy-editor-frontend/src/pages/project/search/SearchResults.tsx
  taxonomy-editor-frontend/src/pages/project/search/SingleSelectFilter.tsx
  taxonomy-editor-frontend/src/pages/project/search/index.tsx
Labels: frontend, backend, search

#492 fix: frontend fixes
  taxonomy-editor-frontend/src/pages/project/errors/index.tsx
Labels: frontend

#481 refactor: add types to find_one_entry routes + start refactor PropertyTable
  backend/editor/api.py
  backend/editor/controllers/node_controller.py
  backend/editor/controllers/project_controller.py
  backend/editor/controllers/utils/result_utils.py
  backend/editor/models/node_models.py
  backend/openapi/openapi.json
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/client/models/EntryNode.ts
  taxonomy-editor-frontend/src/client/services/DefaultService.ts
  taxonomy-editor-frontend/src/pages/project/editentry/AccumulateAllComponents.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListAllEntryProperties.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/index.tsx
Labels: frontend, backend, api
