Repository openfoodfacts/taxonomy-editor, pull requests merged in 2024-03, with the labels that each got.

#428 feat(frontend): Reword export message
  taxonomy-editor-frontend/src/pages/export/index.tsx
Labels: frontend

#409 feat(frontend,backend): Add a owner to a project
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/github_functions.py
  backend/editor/models/project_models.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend, backend, api

#421 chore: Migrate to vite
  .env
  .github/workflows/container-deploy.yml
  Makefile
  docker/dev.yml
  taxonomy-editor-frontend/Dockerfile
  taxonomy-editor-frontend/README.md
  taxonomy-editor-frontend/build/.empty
  taxonomy-editor-frontend/index.html
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/constants.ts
  taxonomy-editor-frontend/src/declaration.d.ts
  taxonomy-editor-frontend/src/vite-env.d.ts
  taxonomy-editor-frontend/tsconfig.json
  taxonomy-editor-frontend/vite.config.ts
Labels: GitHub, dependencies, frontend, docker

#427 refactor(frontend): refactor pages to group common UI elements/data access
  backend/editor/api.py
  backend/editor/models/node_models.py
  backend/openapi/openapi.json
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/client/index.ts
  taxonomy-editor-frontend/src/client/models/ErrorNode.ts
  taxonomy-editor-frontend/src/client/services/DefaultService.ts
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
  taxonomy-editor-frontend/src/components/WarningParsingErrors.tsx
  taxonomy-editor-frontend/src/pages/PageNotFound.tsx
  taxonomy-editor-frontend/src/pages/RootLayout.tsx
  taxonomy-editor-frontend/src/pages/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/home/index.tsx
  taxonomy-editor-frontend/src/pages/project/ProjectNotFound.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/AccumulateAllComponents.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/LanguageSelectionDialog.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListAllEntryProperties.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListAllNonEntryInfo.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListEntryChildren.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListEntryParents.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListTranslations.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/TranslationTags.css
  taxonomy-editor-frontend/src/pages/project/editentry/TranslationTags.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/project/errors/index.tsx
  taxonomy-editor-frontend/src/pages/project/export/index.tsx
  taxonomy-editor-frontend/src/pages/project/index.tsx
  taxonomy-editor-frontend/src/pages/project/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/project/search/SearchResults.tsx
  taxonomy-editor-frontend/src/pages/project/search/index.tsx
  taxonomy-editor-frontend/src/pages/search/index.tsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend, backend, api

#436 fix: Add camelCased aliases to Pydantic models
  backend/editor/models/base_models/__init__.py
  backend/openapi/openapi.json
  taxonomy-editor-frontend/src/client/models/EntryNodeCreate.ts
  taxonomy-editor-frontend/src/client/models/ErrorNode.ts
  taxonomy-editor-frontend/src/client/models/Project.ts
  taxonomy-editor-frontend/src/components/CreateNodeDialogContent.tsx
Labels: frontend, backend

#435 ci: restart policy must be always on deployment
  .github/workflows/container-deploy.yml
Labels: GitHub

#434 feat: support new folders structure
  backend/editor/api.py
  backend/editor/entries.py
  backend/editor/github_functions.py
  backend/editor/utils.py
  taxonomy-editor-frontend/src/constants.ts
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend, backend, api

#445 fix(backend): error on node creation from root nodes
  backend/editor/models/node_models.py
Labels: backend

#443 feat: Update Project List
  backend/editor/api.py
  backend/editor/controllers/node_controller.py
  backend/editor/controllers/project_controller.py
  backend/editor/entries.py
  backend/editor/models/project_models.py
  backend/openapi/openapi.json
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/client/models/Project.ts
  taxonomy-editor-frontend/src/client/services/DefaultService.ts
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/project/root-nodes/index.tsx
Labels: dependencies, frontend, backend, api

#429 feat(parser,backend,frontend): enable extended taxonomies
  backend/editor/entries.py
  backend/editor/settings.py
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/tests/data/test.txt
  parser/tests/data/test_external1.txt
  parser/tests/data/test_external2.txt
  parser/tests/integration/test_parse_unparse_integration.py
  parser/tests/integration/test_parser_integration.py
  parser/tests/unit/test_parser_unit.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/components/CustomAlert.tsx
  taxonomy-editor-frontend/src/components/NodesTableBody.tsx
  taxonomy-editor-frontend/src/components/WarningParsingErrors.tsx
  taxonomy-editor-frontend/src/constants.ts
  taxonomy-editor-frontend/src/pages/project/editentry/AccumulateAllComponents.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListAllEntryProperties.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/ListTranslations.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/TranslationTags.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/project/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/project/search/SearchResults.tsx
  taxonomy-editor-frontend/src/utils.ts
Labels: parser, frontend, backend, tests

#438 feat: Add advanced search API
  backend/editor/api.py
  backend/editor/controllers/search_controller.py
  backend/editor/entries.py
  backend/editor/models/node_models.py
  backend/editor/models/search_models.py
  backend/openapi/openapi.json
  backend/tests/test_api.py
  docker-compose.yml
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/tests/integration/test_parse_unparse_integration.py
  parser/tests/integration/test_parser_integration.py
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/client/index.ts
  taxonomy-editor-frontend/src/client/models/AncestorFilterSearchTerm.ts
  taxonomy-editor-frontend/src/client/models/ChildFilterSearchTerm.ts
  taxonomy-editor-frontend/src/client/models/DescendantFilterSearchTerm.ts
  taxonomy-editor-frontend/src/client/models/EntryNode.ts
  taxonomy-editor-frontend/src/client/models/EntryNodeSearchResult.ts
  taxonomy-editor-frontend/src/client/models/IsFilterSearchTerm.ts
  taxonomy-editor-frontend/src/client/models/LanguageFilterSearchTerm.ts
  taxonomy-editor-frontend/src/client/models/ParentFilterSearchTerm.ts
  taxonomy-editor-frontend/src/client/services/DefaultService.ts
  taxonomy-editor-frontend/src/pages/project/search/SearchResults.tsx
Labels: parser, frontend, backend, api, tests, docker

#456 feat: add property filter to search API
  backend/editor/models/search_models.py
  backend/openapi/openapi.json
  taxonomy-editor-frontend/src/client/index.ts
  taxonomy-editor-frontend/src/client/models/EntryNodeSearchResult.ts
  taxonomy-editor-frontend/src/client/models/PropertyFilterSearchTerm.ts
Labels: frontend, backend

#473 chore: Add info banners on the frontend
  taxonomy-editor-frontend/src/components/CustomAlert.tsx
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
  taxonomy-editor-frontend/src/components/WarningParsingErrors.tsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/home/index.tsx
  taxonomy-editor-frontend/src/pages/project/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/project/export/index.tsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
Labels: frontend
