Repository openfoodfacts/taxonomy-editor, pull requests merged in 2024-01, with the labels that each got.

#320 docs: Add overview excalidraw
  README.md
  doc/assets/taxonomy_editor_overview.excalidraw
  doc/assets/taxonomy_editor_overview.png
Labels: documentation

#317 feat: Decouple parsing the taxonomy and writing the taxonomy to the database
  docker-compose.yml
  parser/Makefile
  parser/openfoodfacts_taxonomy_parser/normalizer.py
  parser/openfoodfacts_taxonomy_parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/__init__.py
  parser/openfoodfacts_taxonomy_parser/parser/exception.py
  parser/openfoodfacts_taxonomy_parser/parser/logger.py
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/tests/conftest.py
  parser/tests/integration/test_parse_unparse_integration.py
  parser/tests/integration/test_parser_integration.py
  parser/tests/unit/test_parser_unit.py
Labels: parser, tests, docker

#318 feat: Improve parser performance
  backend/editor/graph_db.py
  parser/openfoodfacts_taxonomy_parser/parser/logger.py
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
Labels: parser, 🎯 P1, backend

#338 feat: Improve node creation performance
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
Labels: parser

#337 feat: Add parent order determinism
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/openfoodfacts_taxonomy_parser/unparser.py
  parser/tests/integration/test_parse_unparse_integration.py
Labels: parser, backend, tests

#341 feat: improve errors page
  parser/openfoodfacts_taxonomy_parser/parser/logger.py
  taxonomy-editor-frontend/src/pages/errors/index.jsx
Labels: parser, frontend

#324 feat: improve translations editing
  backend/editor/api.py
  backend/editor/entries.py
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/App.tsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.tsx
  taxonomy-editor-frontend/src/pages/editentry/TranslationTags.css
  taxonomy-editor-frontend/src/pages/editentry/TranslationTags.tsx
Labels: dependencies, translations, frontend, backend, api

#352 fix: fix export to local file
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/openfoodfacts_taxonomy_parser/unparser.py
  parser/openfoodfacts_taxonomy_parser/utils.py
  parser/tests/unit/test_parser_unit.py
Labels: parser, backend, tests

#358 feat: store raw stopwords and rewrite them at export
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/openfoodfacts_taxonomy_parser/unparser.py
  parser/tests/data/test.txt
  parser/tests/integration/test_parse_unparse_integration.py
  parser/tests/integration/test_parser_integration.py
Labels: parser, tests
