Repository openfoodfacts/taxonomy-editor, pull requests merged in 2024-02, with the labels that each got.

#378 fix(frontend): Handle no error case on errors page
  taxonomy-editor-frontend/src/pages/errors/index.jsx
Labels: frontend

#377 fix(frontend): Remove Countries and Languages from editable taxonomies
  taxonomy-editor-frontend/src/constants.js
Labels: frontend

#369 fix(backend,parser): remove stopwords from normalized tags on node update
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/openfoodfacts_taxonomy_parser/utils.py
Labels: parser, backend

#387 docs: README.md
  README.md
Labels: documentation

#381 chore: Log more expressive errors for missing child links
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
Labels: parser

#385 feat: Delete projects when their Github PR is merged
  backend/editor/api.py
  backend/editor/controllers/node_controller.py
  backend/editor/controllers/project_controller.py
  backend/editor/entries.py
  backend/editor/github_functions.py
  backend/editor/graph_db.py
  backend/editor/scheduler.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/test_api.py
Labels: dependencies, backend, api, PR generation

#364 feat(parser,frontend,backend): conserve comments order and sort properties at export
  backend/editor/entries.py
  parser/openfoodfacts_taxonomy_parser/parser/parser.py
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/openfoodfacts_taxonomy_parser/unparser.py
  parser/tests/data/test.txt
  parser/tests/unit/test_parser_unit.py
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.jsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.jsx
Labels: parser, frontend, backend, tests

#354 fix(frontend): Handle xx language for translations edition
  backend/editor/api.py
  backend/editor/controllers/project_controller.py
  backend/editor/entries.py
  backend/editor/models/project_models.py
  taxonomy-editor-frontend/build/.empty
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/components/WarningParsingErrors.tsx
  taxonomy-editor-frontend/src/pages/editentry/LanguageSelectionDialog.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.tsx
  taxonomy-editor-frontend/src/pages/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/index.tsx
Labels: frontend, backend, api

#362 fix(frontend): Enhance Edition of Properties for a Node
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.jsx
Labels: frontend

#393 fix(backend): fix create_node function
  backend/editor/api.py
  backend/editor/controllers/node_controller.py
  backend/editor/entries.py
  backend/editor/models/node_models.py
  taxonomy-editor-frontend/src/components/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend, backend, api

#396 chore: Upgrade frontend tooling
  Makefile
  docker/dev.yml
  taxonomy-editor-frontend/.eslintrc.json
  taxonomy-editor-frontend/Dockerfile
  taxonomy-editor-frontend/craco.config.js
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/backend-types/types.ts
  taxonomy-editor-frontend/src/components/CreateNodeDialogContent.tsx
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
  taxonomy-editor-frontend/src/constants.ts
  taxonomy-editor-frontend/src/declaration.d.ts
  taxonomy-editor-frontend/src/index.js
  taxonomy-editor-frontend/src/index.tsx
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllNonEntryInfo.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListTranslations.tsx
  taxonomy-editor-frontend/src/pages/editentry/index.tsx
  taxonomy-editor-frontend/src/pages/errors/index.tsx
  taxonomy-editor-frontend/src/pages/export/index.tsx
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
  taxonomy-editor-frontend/src/pages/home/index.tsx
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
  taxonomy-editor-frontend/src/pages/search/SearchResults.tsx
  taxonomy-editor-frontend/src/pages/search/index.tsx
  taxonomy-editor-frontend/src/pages/startproject/index.tsx
  taxonomy-editor-frontend/src/utils.ts
  taxonomy-editor-frontend/tsconfig.json
  taxonomy-editor-frontend/webpack.config.js
Labels: dependencies, frontend, docker

#394 fix(frontend): enhance property edition
  taxonomy-editor-frontend/src/pages/editentry/AccumulateAllComponents.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListAllEntryProperties.tsx
Labels: frontend

#406 fix(frontend): enable child creation even if no children in entry
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.tsx
Labels: frontend

#408 feat(parser): handle duplicate ID errors during parsing
  parser/openfoodfacts_taxonomy_parser/parser/taxonomy_parser.py
  parser/tests/integration/test_parser_integration.py
  taxonomy-editor-frontend/README.md
  taxonomy-editor-frontend/package-lock.json
Labels: parser, frontend, tests

#405 feat: add automatic client SDK generation
  Makefile
  backend/Dockerfile
  backend/Makefile
  backend/editor/models/project_models.py
  backend/editor/models/types/datetime.py
  backend/openapi/generate_openapi_spec.py
  backend/openapi/openapi.json
  docker/dev.yml
  taxonomy-editor-frontend/package-lock.json
  taxonomy-editor-frontend/package.json
  taxonomy-editor-frontend/src/client/core/ApiError.ts
  taxonomy-editor-frontend/src/client/core/ApiRequestOptions.ts
  taxonomy-editor-frontend/src/client/core/ApiResult.ts
  taxonomy-editor-frontend/src/client/core/CancelablePromise.ts
  taxonomy-editor-frontend/src/client/core/OpenAPI.ts
  taxonomy-editor-frontend/src/client/core/request.ts
  taxonomy-editor-frontend/src/client/index.ts
  taxonomy-editor-frontend/src/client/models/Body_upload_taxonomy__taxonomy_name___branch__upload_post.ts
  taxonomy-editor-frontend/src/client/models/EntryNodeCreate.ts
  taxonomy-editor-frontend/src/client/models/Footer.ts
  taxonomy-editor-frontend/src/client/models/HTTPValidationError.ts
  taxonomy-editor-frontend/src/client/models/Header.ts
  taxonomy-editor-frontend/src/client/models/Project.ts
  taxonomy-editor-frontend/src/client/models/ProjectStatus.ts
  taxonomy-editor-frontend/src/client/models/ValidationError.ts
  taxonomy-editor-frontend/src/client/services/DefaultService.ts
  taxonomy-editor-frontend/src/components/useFetch.ts
  taxonomy-editor-frontend/src/constants.ts
  taxonomy-editor-frontend/src/utils.ts
  taxonomy-editor-frontend/tsconfig.json
Labels: dependencies, frontend, backend, docker

#411 fix(frontend): fix children and parents overflow
  taxonomy-editor-frontend/src/pages/editentry/ListEntryChildren.tsx
  taxonomy-editor-frontend/src/pages/editentry/ListEntryParents.tsx
Labels: frontend

#413 fix(frontend): fix root nodes page infinite loading when project exported
  taxonomy-editor-frontend/src/pages/root-nodes/index.tsx
Labels: frontend

#415 fix: clean duplicate title in project list
  taxonomy-editor-frontend/src/pages/go-to-project/index.tsx
Labels: frontend

#392 fix: App bar fixes
  taxonomy-editor-frontend/src/components/ResponsiveAppBar.tsx
Labels: frontend

#418 fix: wording in export
  taxonomy-editor-frontend/src/pages/export/index.tsx
Labels: frontend
